 <header>
 
    <h1>Add new song</h1>
 
 </header>
<form action="/music" method = "POST">
    <label for="">Track_name:</label>
    <input type="text" name = "name">

    <label for="">Genre:</label>
    <input type="text" name = "genre">

    <label for="">Artist:</label>
    <input type="text" name = "artist">

    <label for="">cover:</label>
    <input type="text" name = "cover">

    <button>Done</button>

</form>