<header>
 
    <h1>Ele㉿troni㉿ ▷</h1>
 
</header>


<div class="about-info">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptatibus accusantium reiciendis, atque ab unde. Aut numquam hic eius, fuga autem quibusdam voluptatibus similique consequatur pariatur tempora saepe explicabo incidunt.</p>
   
    

    <a href="/">BACK</a>

</div>

<footer>
    
        <p class="copyright-about">All Rights Reserved ㉿ Pourya-Ace</p>
    
</footer>