 
<header>
 
    <h1>Add new song</h1>
 
</header>
<p>Lets add a new song to your playlist ▷▷</p>

<p class="instruction">Follow the instructions below ▽▽</p>
 
 
 <section class="music">
 
    <form class = "add" action="/music" method = "POST">
        <label for="">Track_name:</label>
        <input type="text" name = "name" required>

        <label for="">Genre:</label>
        <input type="text" name = "genre" required>

        <label for="">Artist:</label>
        <input type="text" name = "artist" required>

        <label for="">Track_Url:</label>
        <input type="text" name = "track" required>

        </select>

        <button class = "done">Done</button>
        

    </form>
 
 
 </section>
 <p><a href="https://open.spotify.com/" target="_blank">To add a track click on share then embed track on any spotify tracks and copy and paste URL in track_Url</a></p>
 <p>Friendly reminder to use compact 80 * 250px size on embed tracks</p>
 <div class="reminder">

    <a class = "informer" href="/">BACK</a>

</div>