<header class = "signup-header">
    <h2><a href="/">Home</a></h2>
    <h1>Sign Up</h1>
    <h2><a href="/login">Log In</a></h2>

</header>

<p class="welcom">Welcome to Ele㉿troni㉿ home of best of electronic sounds</p>
<p class="please">Please enter your details to sign up ▷▷</p>


<section class="signup">

    <form action="/user" class="sign_up">
        <label for="">Name</label>
        <input type="text" name = "name">
        
        <label for="">Email</label>
        <input type="email" name = "email">

        <label for="">Username</label>
        <input type="text" name = "username">

        <label for="">Password</label>
        <input type="password" name = "password">

        <button>Sign Up</button>



    </form>

</section>
<div class="reminder">

    <a class = "informer" href="/login">Click here if you already a Member</a>

</div>

<footer>
    
    <p class="copyright-signup">All Rights Reserved ㉿ Pourya-Ace</p>
    
</footer>