<header class = "signup-header">
    <h2><a href="/">Home</a></h2>
    <h1>Sign Up</h1>
    <h2><a href="/login">Log In</a></h2>

</header>

<p class="welcom">Welcome to Ele㉿troni㉿ home of best of electronic sounds</p>
<p class="please">Please enter your details to sign up ▷▷</p>


<section class="signup">

    <form action="/user" class="sign_up" method="POST">
        <label for="">Name</label>
        <input type="text" name = "name" required>
        
        <label for="">Email</label>
        <input type="email" name = "email" required>

        <label for="">Username</label>
        <input type="text" name = "username" required>

        <label for="">Password</label>
        <input type="password" name = "password" required>

        <button onclick="play()">Sign Up</button>
        <audio id="audio" src="/media/audio/mixkit-quick-win-video-game-notification-269.wav"></audio>



    </form>

    

</section>

<div class="reminder">

    <a class = "informer" href="/login">Click here if you already a Member</a>

</div>

<footer>
    
    <p class="copyright-signup">All Rights Reserved ㉿ Pourya-Ace</p>
    
</footer>